.blogBg{
    background-image: url('/public/img/banner-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vh;
}
@media (min-width: 768px) {
    .blogBg{
        background-image: url('/public/img/banner-tablette.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;

    }
}

@media (min-width: 1200px){
       .blogBg{
        background-image: url('/public/img/banner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 15vh;
        min-height: auto;
    }
}

