.contactBg{
    background-image: url(/public/img/contact-bg.jpg);
    height: auto;
    width: auto;
}

form{
    background-color: white;
}

input{
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
}

textarea{
    border-radius: 5px;
    border: 1px solid grey;
}